.contain{
    position: relative;
    text-align: center;
    color: black;
}
    .top_left{
        position: absolute;
        top: 8px;
        left: 40px;
    }
    .top_right{
        position: absolute;
        top: 8px;
        right: 40px;
    }
    .middle{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #f1f1f1;
    }

table{
    width: 100%;
    

}   
    td{
        width: 33%;
    }
        .layout_1{
            background-color:  #f795a1 ;
            border: 3px solid;
            
        }
            #c1{
                color: white;
                align-content: center;
            }
            p{
                color: white;
            
            }

        .layout_2{
            background-color: #eea93e;
            border: 3px solid;
            
        }
            #c2{
                color: white;
                align-content: center;
            }
            p{
                color: white;
            }

        .layout_3{
            background-color:  #de4ab8;
            border: 3px solid;
            
        }
            #c3{
                color: white;
                align-content: center;
            }
            p{
                color: white;
            }
#pho{
    align-content: center;

}



  .table2{
    width: 100%;
    height: 500px;
    border: 2px white solid;
    }
    img { 
      vertical-align: middle; 
    }
    .left-part{
    position: relative;
    width: 30%;
    font-size: 30px;
    font-family: itim;
    display: contents;
    }

    .right-part{
        width: 900px;
        padding: 30px;
        background-color: #E6F0D0;
        }
        #box1{
          width: 100px;
          padding: 20px;
          align-content: center;
          border-right: 1px black solid;
        
        }
        .main_img {
          padding: 15px;
        }
        
        .detail_img{
          border-collapse: separate;
          border-spacing: 5px;
          align-content: center;
        }
        #price1{
          color: red;
        }
        #price2{
          color: green;
        }
        #bu1{
          float: right;
          font-size: 25px;
          border: 2px black solid;
          font-family: itim;
        }
        .center {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 45px;
        font-family: itim;
        }
        #top1{
          float: right;
          padding: 5px;
          background-color: #BA670F;
          border-radius: 10%;
        }
        #right{
          text-align: center;
        }
        #table2 {
          width: 900px;
          height: 500px;
          border: 5px black solid;
          background-color: white;
        }
        #box2{
          padding: 30px;
          width: 300px;
          font-family: itim;
        }
        #header {
          font-size: 20px;
        }
        #price10{
          color: red;
        }
        #price20{
          color: green;
        
        }
        #price12{
          float: right;
          font-size: 20px;
        }
        #cart1 { 
          font-size: 25px;
          border: 2px black solid;
          font-family: itim;
        }
        #tag12{
          background-color: #CDCECC;
          font-size: 20px;
        }
        #table3{
          width: 800px;
          height: 300px;
          border: 5px black solid;
          background-color: white;
          padding: 30px;
        }
        #Anon{
          text-align: left;
          font-family: 'MilkyNice-Clean', Arial, sans-serif;
          color: blue;
         border: 2px solid gray;
         margin-top: -20px;
         background-color: white;
         padding: 20px;
        }
        
        #small{
           color: grey;
           font-size: small;
        }
        #comment{
           font-size: small;
           font-family: 'MilkyNice-Clean', Arial, sans-serif;
           color: black;
           margin-left: 20px;
           margin-bottom: 20px;
           
        }
        #profile{
          width: 70px;
          float: left;
          
        }
        
        #div_last{
          position: relative;
          width: 99.5%;
          border: 3px solid black;
          height: 20vh;
          background-color: white;
        }
        #div_last span{
          position: relative;
          padding: 3px 10px;
          background-color: white;
          bottom: 12px;
          left: 5px;
          font-size: medium;
          font-family: 'MilkyNice-Clean', Arial, sans-serif;
        }
        #send{
          background-color: green;
          border: 2px  solid black;
          height: 50px;
          width: 100px;
          font-family: 'MilkyNice-Clean', Arial, sans-serif;
          font-size: large;
          float: right;
          
          
        }
        #discard{
          background-color:white;
          border: 2px  solid black;
          height: 50px;
          width: 100px;
          font-family: 'MilkyNice-Clean', Arial, sans-serif;
          font-size: large;
          float: right;
          
        }
        #send img{
          width: 20px;
        }
        #discard img{
          width: 20px;
        }
        #write{
          border: none;
        }